body {
  overflow: hidden;
  height: 100vh;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-weight: 700;
  font-size: 16px;
  font-family: arial;
}
span {
  margin: 20px;
  position: fixed;
  top: 0;
  right: 20px;
}


#faq-body {
  background-color: black;
}

h1 {
  color: white;
}

span {
  color: white;
}

p {
  color: white;
}

#faq-link {
  color: white;
}
